* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-family: "Montserrat", "Arial", sans-serif;
   font-size: 20px;
   font-weight: 300;
   background-color: #fff;
   color: #000;
   text-rendering: optimizeLegibility;
}

.row {
   max-width: 1140px;
   margin: 0 auto;
}

header {
   background-image: linear-gradient(rgba(5, 5, 5, 0.7), rgba(5, 5, 5, 0.7)), url("img/toba2.jpg");
   height: 100vh;
   background-position: center;
   background-size: cover;
}

.text-img-box {
   position:absolute;
   width: 1140px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

h1,
h2,
h3 { 
   font-weight: 300;
   text-transform: uppercase;
}

h1 {
   margin: 0;
   margin-bottom: 20px;
   color: #fff;
   font-size: 250%; 
   word-spacing: 4px;
   letter-spacing: 1px; 
}

h2 {
   margin: 30px;
   text-align: center;
   font-size: 180%; 
}

h2::after {
   display: block;
   height: 2px;
   width: 100px;
   margin: 0 auto;
   margin-top: 20px;
   content: " ";
   background-color:#F1C40F ;
}

h3 {
   margin: 30px 0; 
   font-size: 110%;
}

.box p {
   font-size: 90%;
   line-height: 145%;
   margin-bottom: 30px;
}

.icon-big {
   color: #F1C40F;
   font-size: 250%;
   padding: 0 100px ;
}

.long-copy {
   width: 70%;
   margin: 0 auto;
   margin-bottom: 30px;
   line-height: 145%;
   font-size: 90%;
   font-weight: 300;
}

.btn:link,
.btn:visited {
   display: inline-block;
   padding: 10px 30px;
   border-radius: 200px;
   font-weight: 300;
   text-decoration: none; 
   transition: background-color 0.2s, color 0.2s, border 0.2s;
}

.btn-full:link,
.btn-full:visited {
   background-color: #F1C40F;
   border: 1px solid #F1C40F;
   color: white;
   margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost.btn:visited {
   border: 1px solid #F1C40F;
   color: #F1C40F;
}

.btn-full:hover,
.btn-full:active {
   background-color: #F39C12;
}

.btn-ghost:hover,
.btn-ghost:active {
   background-color: #F39C12;
   color: #fff;
}

.logo {
   height: 100px;
   width: auto;
   float: left; 
   margin-top: 20px;
}

.main-nav {
   float: right; 
   margin-top: 45px;
   list-style: none;
}

.main-nav li {
   display: inline-block;
   margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:active {
   text-decoration: none;
   color: #fff;
   border-bottom: 2px solid transparent;
   transition: border-bottom 0.2s;
   padding: 5px 0;
   text-transform: uppercase;
   font-weight: 100;
   font-size: 90%;
}

.main-nav li a:hover,
.main-nav li a:active {
   border-bottom: 2px solid #F39C12;
   font-weight: 300;
}

.trip-showcase  {
   width: 100%;
   list-style: none;
}

.trip-showcase li {
   display: block;
   float: left;
   width: 25%;
}

.trip-img {
   width: 100%;
   margin: 0;  
   overflow: hidden;
   background-color: #000;
}

.trip-img img {
   width: 100%;
   height: auto;
   transform: scale(1.15);
   opacity: 0.7;
   transition: transform 0.5s, opacity 0.5s;
}

.trip-img img:hover {
   opacity: 1;
   transform: scale(1.04);
}

.clear-fix {zoom: 1}
.clear-fix::after {
   content: ".";
   clear: both;
   display: block;
   height: 0;
   visibility: hidden;
}


.section-step {
   background-color: rgb(228, 225, 225);
}

.step-box:first-child { 
   text-align: right;
   padding: 3%;  
}

.step-box:last-child { 
   padding: 3%; 
   margin-top: 50px;
}

.phone-screen{
   width: 50%; 
}

.work-step {
   margin-bottom: 50px;
}

.work-step:last-of-type {
   margin-bottom: 90px;
}

.work-step div {
   border: 2px solid #F1C40F;
   border-radius: 50%;
   display: inline-block;
   width: 55px;
   height: 55px; 
   text-align: center;
   float: left;
   margin-right: 25px;
   padding: 7px;
   font-size: 150%;
}

.btn-app {
   margin-right: 20px;
   width: auto;
   height: 50px;
}